
//======================================================================================================================================================

//Размеры экрана botstrap desktop-first

// Экстрамалые девайсы («телефоны», < 576px)
$screen-xsm: 575.98;

// Малые девайсы («ландшафтные», < 768px)
$screen-sm : 767.98;

// Средние девайсы («таблетки», < 992px) 
$screen-md : 991.98;

// Большие девайсы (большие десктопы, < 1200px)
$screen-lg : 1199.98px;

//======================================================================================================================================================
//ЦВЕТА 
$main-color :#245462;
$text-color : #414141;
//======================================================================================================================================================