.App{
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
    color: $text-color;
}

//ПРИЖАТИЕ ФУТЕРА К НИЗУ СТРАНИЦЫ========================================================================================================================================
.main{
    //overflow-x: hidden;
    flex-grow: 1;
}
//================================================================================================================================================

// "СЛУЖЕБНЫЕ" КЛАССЫ===========================================================================================================================
._lock{
    overflow: hidden;
}
._ibg{
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
._container{
    // max-width: 1140px;
    max-width: 1600px;
    margin: 0 auto;
    @media screen and (max-width : 1860px) {
        padding: 0 130px;
    }
    @media screen and (max-width : 1366px) {
        padding: 0 30px;
    }
    @media screen and (max-width : $screen-sm+px) {
        padding: 0 15px;
    }

}
//================================================================================================================================================
