.header {
    &__topbar {
        background: #313131;
        padding: 10px 0;
        .header__container{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        @media screen and (max-width : $screen-md+px) {
            display: none;
        }
    }

    &__text{
        color : $text-color;
        font-size: 12px;
    }

    &__info {
        display: flex;
        color: #fff;
        >*:not(:last-child){
            margin-right: 30px;
        }
    }

    &__content {
        margin-top: 20px;
        .header__container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media screen and (max-width : $screen-xsm+px) {
                display: grid;
                grid-template-areas:"burger logo actions"
                                    "search search search";
                justify-content: start;
                grid-template-columns: auto auto 1fr;
            }
        }
        .header__info{
            display: flex;
            color: #000;
            margin-right: 30px;

            @media screen and (min-width : $screen-md+px) {
                display: none;
            }
        }
        .header__tel{
            @media screen and (max-width : 870px) {
                display: none;
            }
        }  
        .header__delivery{
            @media screen and (max-width : 650px) {
                display: none;
            }
        }
    }

    &__logo {
        flex: 0 0 113px;
        height: 25px;
        grid-area: logo;
        @media screen and (max-width : $screen-xsm+px) {
            flex: 0 0 100px;
            height: 22px;
        }
    }

    &__search {
        flex: 1 1 auto;
        position: relative;
        margin: 0 38px;
        border: 1px solid #E6E6E6;
        grid-area: search;
        @media screen and (max-width : $screen-md+px) {
            border: none;
        }
        @media screen and (max-width : $screen-xsm+px) {
            margin: 16px 0 0;
            width: 100%;
        }
        input{
            width: 100%;
            height: 100%;
            padding: 17px;
            padding-left: 49px;
            @media screen and (max-width : $screen-md+px) {
                padding: 13px;
                padding-left: 49px;
                background: #F9F9F9;
            }
        }
        ._icon-search{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15px;
            font-size: 14px;
            color: #000;
        }
        
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-area: actions;
        .header__icon{
            &:not(:last-child){
                margin-right: 30px;
            }
            font-size: 17px;
        }
        @media screen and (max-width : $screen-xsm+px) {
            justify-content: flex-end;
        }
    }
    .burger-menu{
        grid-area: burger;
    }

    &__icon{
        &--phone{
            margin-right: 10px;
        }
        &--delivery{
            margin-right: 10px;
        }
        &--wihlist{

        }
        &--bag{

        }
        &--user{

        }
    }
    &__categories{
        margin: 20px 0 30px;
        @media screen and (max-width : $screen-xsm+px) {
            margin: 20px 0;
        }
    }
}
.nav-header {

    &__list {
        display: flex;
        li:not(:last-child){
            margin-right: 30px;
        }
    }

    &__link {
        color: #fff;
        text-decoration: none;       
    }
}
.header-categories{
    &__body{
        padding: 24px 40px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
        @media screen and (max-width : $screen-md+px) {
            padding: 24px 25px;
        }
        @media screen and (max-width : $screen-xsm+px) {
            padding: 0;
            overflow-x: auto;
            box-shadow: none;
            margin-right: -15px;
            &::-webkit-scrollbar {
                width: 0;
            }
        }
    }
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 -35px;
        max-height: 23px;
        overflow-y: hidden;
        @media screen and (max-width : $screen-xsm+px) {
            max-height: none;
            flex-wrap: nowrap;
            margin: 0;
            overflow-y: visible;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
    &__item{
        &:not(:last-child){
            margin: 0 17.5px;
        }   
        @media screen and (max-width : $screen-xsm+px) {
            display: block;
            flex: 0 0 50px;
            &:not(:last-child){
                margin: 0 7px 0 0;
            } 
        }
    }
    
    &__link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: inherit;
        text-decoration: none;
        font-size: 16px;
        line-height: 19px;
        &--red{
            @media screen and (max-width : $screen-xsm+px) {
                display: none;
            }
        }
        @media screen and (max-width : $screen-md+px) {
            font-size: 14px;
            line-height: 16px;
        }
        @media screen and (max-width : $screen-xsm+px) {
            flex-direction: column;
            flex: 0 0 50px;
        }     
    }
    &__icon{
        margin-right: 10px;
        font-size: 23px;
        @media screen and (max-width : $screen-xsm+px) {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            width: 100%;
            height: 50px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
            margin-bottom: 5px;
        }
    }
    &__text{
        @media screen and (max-width : $screen-xsm+px) {
            font-size: 9px;
            line-height: 10px;
        }      
    }
}

